<div class="container">
    <!-- tilte -->
    <h2>RESTABLECER CONTRASEÑA</h2>
    
    <form class="form" [formGroup]="form" (ngSubmit)="onSubmit()">
    
        <!-- Password -->
        <div class="form-field">
          <div class="field">
            <input placeholder="" id="password" type="password" formControlName="password" />
            <label for="password">Password:</label>
          </div>
          <div *ngIf="form.get('password')?.touched && form.get('password')?.invalid" class="error" @enterAnimation>
            <small *ngIf="form.get('password')?.errors?.['pattern']">La contraseña debe bla bla bla</small>
          </div>
        </div>
    
        <div class="form-field">
          <div class="field">
            <input placeholder="" id="passwordConfirmation" type="password" formControlName="passwordConfirmation"/>
            <label for="passwordConfirmation">Confirmar Password:</label>
          </div>
          <small *ngIf="!isPasswordMatching">Las contraseñas no coinciden.</small>
          <div *ngIf="form.get('passwordConfirmation')?.touched && form.get('passwordConfirmation')?.invalid" class="error" @enterAnimation>
            <small *ngIf="form.get('passwordConfirmation')?.errors?.['pattern']">La contraseña debe bla bla bla</small>
          </div>
        </div>
    
        <!-- submit button -->
        <button type="submit" [disabled]="form.invalid">Enviar</button>
      </form>
  </div>