<div class="container">
    @if (!cartFill) {
        <div class="title__empty">
            <h2>Cart</h2>
        </div>
        <hr class="hr">

    <span class="span__empty">Your cart is empty.</span>
    }@else{
    <div class="title">
        <h2>Cart</h2>
    </div>
    <hr class="hr">
    <div class="info">
        <img src="../../../assets/images/image-product-1-thumbnail.jpg" alt="sneaker-image">

        <div class="info__datos">
            <h3>Fall Limited Edition Sneakers</h3>
            <div class="prices">
                <span class="price">$125.00</span>
                <span class="amount">x3</span>
                <span class="total">$375.00</span>
            </div>
        </div>
        <button class="delete"></button>
    </div>

    <button class="checkout__btn">Checkout</button>
    }


</div>