.variables {
    --Orange: hsl(26, 100%, 55%);
    --Paleorange: hsl(25, 100%, 94%);

    // ### Neutral

    --Verydarkblue: hsl(220, 13%, 13%);
    --Darkgrayishblue: hsl(219, 9%, 45%);
    --Grayishblue: hsl(220, 14%, 75%);
    --Lightgrayishblue: hsl(223, 64%, 98%);
    --White: hsl(0, 0%, 100%);
    // (with 75% opacity for lightbox background)
    --Black: hsla(0, 0%, 0%);
}

.inicio-container {
    max-width: 100vw;
    height: calc(100vh - 60px);

    picture {
        padding: 24px;
        background-image: linear-gradient(to bottom,
                rgba(0, 0, 0, 0) 10%,
                rgba(0, 0, 0, 0.5) 50%,
                rgba(0, 0, 0, 0.7) 90%), url('../../../assets/images/layout-image-sneaker.webp');
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: end;
        gap: 24px;
        align-items: center;
        animation: entrance .6s ease;

        .slogan {

            padding: 24px 24px;

            h2 {
                color: var(--White);
                font-size: 36px;
                padding-bottom: 24px;
                text-align: center;

                b {
                    color: var(--Orange);
                }
            }

            p {
                color: var(--Paleorange);
                text-align: center;
            }
        }
    }

    .start__btn {
        margin-top: 24px;
        min-height: 56px;
        background-color: var(--Orange);
        border-radius: 8px;
        font-weight: 700;
        font-size: 16px;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 1rem;
        cursor: pointer;
        color: var(--White);
        width: 100%;
        box-shadow: 0px 5px 48px -16px hsl(25, 100%, 70%);
        transition: box-shadow .3s ease;
    }
}

@keyframes entrance {
    from {
        filter: blur(20px);
        transform: scale(1.4);
    }
}

.customers-reviews,
.about,
.video,
.logo-image {
    display: none;
}


@media (min-width: 600px) {

    .inicio-container {
        height: calc(100vh - 172px);

        display: grid;
        grid-template:
            "picture   video    video"   65%
            "picture   logo     reviews" 10%
            "about     about    reviews" auto/
            30%        10%      auto;
        gap: 4px;


        picture {
            grid-area: picture;
            height: auto;
        }

        .start__btn:hover {
            box-shadow: 0px 5px 48px -16px hsl(25, 100%, 70%), 0px 3px 24px -8px hsl(25, 100%, 70%);
        }

        .logo-image {
            display: block;
            grid-area: logo;


            img {
                height: 100%;
                object-fit: contain;
                object-position: center;
                -o-object-fit: contain;
                animation: rotate infinite ease-in-out 12s;
            }

            @keyframes rotate {
                0% {
                    transform: rotateY(0deg);
                }

                90% {
                    transform: rotateY(0deg);
                }

                100% {
                    transform: rotateY(360deg);
                }
            }
        }

        .video {
            display: block;
            height: 100%;
            grid-area: video;
            object-fit: cover;
        }

        .about {
            display: block;
            position: relative;
            grid-area: about;
            background-image: linear-gradient(to left,
                    rgba(0, 0, 0, 0) 10%,
                    rgba(0, 0, 0, 0.2) 50%,
                    rgba(0, 0, 0, 0.5) 90%), url('../../../assets/images/InitPage/work-group.webp');
            background-size: 100%;
            background-position: 0% 10%;
            display: grid;
            place-items: center;
            cursor: pointer;
            transition: all .3s ease;

            span {
                font-family: cursive;
                font-size: 24px;
                color: var(--Paleorange);
            }

            &::before {
                content: '';
                position: absolute;
                height: 100%;
                width: 100%;
                background-color: var(--Verydarkblue);
                opacity: .4;
            }

            &:hover {
                // background-position: top;
                background-size: 105%;
            }

            &:hover span {
                z-index: 2;
            }

            &:hover::before {
                opacity: .6;
            }
        }

        .customers-reviews {
            display: block;
            grid-area: reviews;
            background-image: url('../../../assets/images/InitPage/papel-arrugado-lite.webp');
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
            display: grid;
            place-items: center;
            cursor: pointer;

            span {
                // border: 1px solid black;
                font-family: 'Dancing Script', cursive;
                color: var(--Verydarkblue);
                font-size: 45px;
                font-weight: 600;
                transform: rotateZ(-3deg);
                transition: all .3s ease;
            }

            &:hover span {
                transform: rotateZ(0deg);
                transform: scale(1.1);
                opacity: .9;
            }
        }
    }
}