<div class="inicio-container">
    <picture class="img-container">
        <div class="slogan">
            <h2>Pasos que <b>Inspiran</b></h2>
            <p>Tu estilo y tu identidad son marcas imborrables para ti y tus amigos</p>
        </div>
        <button [routerLink]="'/main'" class="start__btn">Iniciar</button>
    </picture>
     <video class="video" [muted]="muted" controls autoplay loop playsinline src="../../../assets/videos/y2mate.com - Epic Adidas shoe commercial concept  product video BROLL_1080.mp4"></video>

     <div class="logo-image">
        <img src="../../../assets/images/InitPage/logo2.png" alt="logo">
     </div>
     
    <div class="about">
        <span>¿Quiénes Somos?</span>
    </div>
    <div class="customers-reviews">
        <span>¿Qué opinan nuestros clientes?</span>
    </div>
</div>