<div class="inicio-container">
    <picture class="img-container">
        <div class="slogan">
            <h2>Pasos que <b>Inspiran</b></h2>
            <p>Tu estilo y tu identidad son marcas imborrables para ti y tus amigos</p>
        </div>
        <button [routerLink]="'/main'" class="start__btn">Iniciar</button>
    </picture>
     <video class="video" [muted]="muted" controls autoplay loop playsinline src="../../../assets/videos/video-init-page3.webm"></video>

     <div class="logo-image">
        <img src="../../../assets/images/InitPage/logo2.png" alt="logo">
     </div>
     
    <div routerLinkActive [routerLink]="'/about-us'" class="about">
        <span>¿Quiénes Somos?</span>
    </div>
    <div routerLinkActive [routerLink]="'/contact'" class="contact">
        <span>¿Comunícate con nosotros?</span>
    </div>
</div>