<div class="container">
  <h2>RECUPERAR CONTRASEÑA</h2>
  
  <form class="form" [formGroup]="form" (ngSubmit)="onSubmit()">
  
    <!-- Identyfier -->
    <div class="form-field">
      <div class="field">
        <input placeholder="" id="email" type="text" formControlName="email" />
        <label for="email">Correo:</label>
      </div>
      <div *ngIf="form.get('email')?.touched && form.get('email')?.invalid" class="error" @enterAnimation>
        <small *ngIf="form.get('email')?.errors?.['required']">El email es requerido.</small>
        <small *ngIf="form.get('email')?.errors?.['email']">El email no es válido.</small>
        <small *ngIf="form.get('email')?.errors?.['pattern']">El email no es válido.</small>
      </div>
    </div>
  
    <!-- submit button -->
    <button type="submit" [disabled]="form.invalid">Enviar</button>
  </form>
</div>