<h2>RECUPERAR CONTRASEÑA</h2>

<form class="form" [formGroup]="form" (ngSubmit)="onSubmit()">

  <!-- Identyfier -->
  <div class="form-field">
    <div class="field">
      <input placeholder="" id="identifier" type="text" formControlName="identifier" />
      <label for="identifier">Correo:</label>
    </div>
    <div *ngIf="form.get('identifier')?.touched && form.get('identifier')?.invalid" class="error" @enterAnimation>
      <small *ngIf="form.get('identifier')?.errors?.['required']">El usuario es requerido.</small>
      <small *ngIf="form.get('identifier')?.errors?.['minlength']">El nombre debe tener al menos 3 caracteres.</small>
    </div>
  </div>

  <!-- submit button -->
  <button type="submit" [disabled]="form.invalid">Enviar</button>
</form>