

.about-us {
    &>div {
        display: flex;
        justify-content: space-evenly;
        flex-wrap: wrap;
        gap: 24px;
        padding: 60px 24px 60px 24px;
        border-top: 1px solid rgba(104,112,125,.1);


        img {
            // border: 1px solid black;
            object-fit: contain;
            width: 200px;
            filter: drop-shadow(-2px 2px 2px var(--Darkgrayishblue));
            opacity: .8;
        }
        
        div {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            gap: 12px;

            h2 {
                color: var(--Verydarkblue);
            }

            p {
                color: var(--Darkgrayishblue);
            }
        }
    }

    .values-section {
        div {
            ul {
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                gap: 12px;

                li {
                    color: var(--Darkgrayishblue);
                }
            }
        }
    }
}

@media (min-width: 650px) {
    .about-us {
        &>div {
            flex-wrap: nowrap;
            gap: 48px;
            // img {
            //     width: 200px;
            // }
            div {
            justify-content: center;
                gap: 24px;
            }
        }

        &>div:nth-child(even) {
            flex-flow: row-reverse;
        }
    }
}