<section class="about-us">
    <!-- Visión -->
    <div class="vision-section">
        <img src="../../../assets/images/aboutPage/vision_icon.svg" alt="Imagen de la visión" class="section-image">
        <div class="text-content">
            <h2>Visión</h2>
            <p>En nuestra visión, buscamos ser un faro de esperanza y oportunidad en nuestra comunidad. Queremos
                convertirnos en un referente de crecimiento y desarrollo, ofreciendo productos de calidad que no solo
                satisfagan las necesidades de nuestros clientes, sino que también impulsen el desarrollo económico
                local.</p>
            <p>Nuestra meta es expandir nuestro alcance y continuar proporcionando un entorno en el que los miembros de
                nuestra comunidad puedan prosperar y construir un futuro mejor.</p>
        </div>
    </div>

    <!-- Misión -->
    @defer (on viewport) {
    <div class="mission-section">
        <img src="../../../assets/images/aboutPage/mission.svg" alt="Imagen de la misión" class="section-image">
        <div class="text-content">
            <h2>Misión</h2>
            <p>Nuestra misión es proporcionar productos de alta calidad a nuestros clientes, al mismo tiempo que
                generamos empleo y oportunidades en nuestra región. Nos esforzamos por mantener altos estándares de
                servicio y ética, y por ofrecer un ambiente en el que nuestros empleados puedan crecer y prosperar.</p>
            <p>Estamos comprometidos a trabajar con integridad, ofrecer soluciones innovadoras y contribuir al bienestar
                de nuestra comunidad.</p>
        </div>
    </div>
    }
    @placeholder {
    <span>cargando...</span>
    }

    <!-- Historia -->
    @defer (on viewport) {
    <div class="history-section">
        <img src="../../../assets/images/aboutPage/my-history_icon.svg" alt="Imagen de la historia"
            class="section-image">
        <div class="text-content">
            <h2>Nuestra Historia</h2>
            <p>Nuestra historia comienza en un pequeño pueblo de Urabá, donde, impulsado por el deseo de superar
                adversidades y crear un futuro mejor, inicié este emprendimiento. Con pocos recursos pero con una visión
                clara, decidí fundar una empresa que no solo sirviera a los clientes, sino que también brindara
                oportunidades de empleo a quienes más lo necesitaban.</p>
            <p>Desde entonces, hemos crecido y aprendido, siempre con el objetivo de impactar positivamente nuestra
                comunidad.</p>
        </div>
    </div>
    }
    @placeholder {
    <span>cargando...</span>
    }

    <!-- Compromiso -->
    @defer (on viewport) {
    <div class="commitment-section">
        <img src="../../../assets/images/aboutPage/commitment_icon.svg" alt="Imagen del compromiso"
            class="section-image">
        <div class="text-content">
            <h2>Nuestro Compromiso</h2>
            <p>Estamos profundamente comprometidos con nuestra comunidad y con el bienestar de nuestros empleados.
                Creemos en la responsabilidad social y trabajamos constantemente para contribuir al desarrollo económico
                local.</p>
            <p>Nuestro compromiso va más allá de ofrecer productos de calidad; buscamos ser un pilar de apoyo y una
                fuente de inspiración para todos aquellos que desean construir un futuro mejor.</p>
        </div>
    </div>
    }
    @placeholder {
    <span>cargando...</span>
    }

    <!-- Valores -->
    @defer (on viewport) {
    <div class="values-section">
        <img src="../../../assets/images/aboutPage/values_icon.svg" alt="Imagen de los valores" class="section-image">
        <div class="text-content">
            <h2>Valores</h2>
            <ul>
                <li><strong>Integridad:</strong> Actuamos con honestidad y transparencia en todas nuestras acciones.
                </li>
                <li><strong>Compromiso social:</strong> Apoyamos y contribuimos al desarrollo de nuestra comunidad
                    local.</li>
                <li><strong>Empatía:</strong> Nos preocupamos por las necesidades y el bienestar de nuestros clientes y
                    empleados.</li>
                <li><strong>Sostenibilidad:</strong> Promovemos prácticas responsables y sostenibles para proteger
                    nuestro entorno.</li>
            </ul>
        </div>
    </div>
    }
    @placeholder {
    <span>cargando...</span>
    }

</section>