<nav class="nav">

    <button class="nav__toggle" (click)="toggleNav()" [ngClass]="{'nav__toggle--active': isNavActive}"></button>

    <h1>sneakers</h1>
  
    <ul class="nav__ul" [ngClass]="{'nav__ul--active': isNavActive}">
  
      <li routerLinkActive="active" class="nav__li" (click)="closeNav()"
        ><a class="nav__a">Collections</a>
    </li>
      <li routerLinkActive="active" class="nav__li" (click)="closeNav()"
        ><a class="nav__a">Men</a>
    </li>
      <li routerLinkActive="active" class="nav__li" (click)="closeNav()"
        ><a class="nav__a">Women</a>
    </li>
      <li routerLinkActive="active" class="nav__li" (click)="closeNav()"
        ><a class="nav__a">About</a>
    </li>
      <li routerLinkActive="active" class="nav__li" (click)="closeNav()"
        ><a class="nav__a">Contact</a>
    </li>
    </ul>
   
        <img class="carticon" src="../../../assets/images/icon-cart.svg" alt="">  
        <img class="profile" src="../../../assets/images/image-avatar.png" alt="">  
  </nav>
  
  <div class="modal" (click)="closeNav()" [ngClass]="{'modal__active': isNavActive}"></div>
  