<div class="container">
    <h1>Política de Cambios y/o Devoluciones</h1>
    <hr>
        <h2>Condiciones de Cambio y/o Devolución</h2>
        
        <p>El plazo para realizar un cambio es de 15 días.</p>
        <p>Los productos en promoción o con descuentos <strong>NO</strong> tienen cambio.</p>
        <p>Los cambios se realizarán por el valor pagado por el cliente.</p>
        <p>El producto debe estar sin alteraciones, en buen estado, limpio y con sus etiquetas originales.</p>
        <p>No se aceptarán productos con señales de uso, manchas, tallones o desgaste. El producto no puede haber sido usado para que el cambio sea válido.</p>
    
        <hr>
        <h2>Opciones de Cambio y/o Devolución</h2>
    
        <p>Cambio por talla o color, sujeto a disponibilidad de inventario. Si el valor es inferior, se enviará un bono por el saldo restante para una nueva compra online.</p>
        <p>Vale electrónico o nota crédito para una nueva compra, con vigencia de un año.</p>
        <p>Devolución del dinero, solo aplicable por reclamos de garantía o derecho de retracto.</p>
    
        <hr>
        <h2>Proceso de Devolución y/o Cambio</h2>
    
        <p>Una vez radicada la solicitud de cambio, debe enviar el producto a nuestras instalaciones debidamente embalado. Puede usar el empaque original o uno adecuado para proteger el producto durante el transporte.</p>
        <p>El producto no debe estar modificado, debe estar limpio y con sus etiquetas originales.</p>
    
        <hr>
        <h2>Tiempos de Cambio y/o Devolución</h2>
    
        <p>Cambio por talla o color</p>
        <p>Se despachará en 3 días hábiles después de recibir el producto en nuestra bodega, aplicando los mismos tiempos de entrega normales.</p>
    
        <p>Vale electrónico o nota crédito</p>
        <p>Será enviado a su correo 3 días hábiles después de recibir el producto en nuestra bodega.</p>
    
        <p>Devolución del dinero</p>
            <p><strong>- Transferencia por redes sociales:</strong> se realizará dentro de los 8 días hábiles tras recibir el producto.</p>
            <p><strong>- Reversión del pago en compras web:</strong> se realizará en 30 días hábiles tras recibir el producto.</p>
    
        <p>Una vez verificadas las condiciones del producto, Ballers tendrá 3 días hábiles para informarle si cumple con los criterios para el cambio, vale electrónico o devolución del dinero. (Solo aplica para reclamos de garantía o derecho de retracto).</p>

        <hr>
        <span><strong>Productos en descuento no tienen cambio ni devolución.</strong></span>

</div>