/* nav-mobile*/

.variables {
    --Orange: hsl(26, 100%, 55%);
    --Paleorange: hsl(25, 100%, 94%);

    // ### Neutral

    --Verydarkblue: hsl(220, 13%, 13%);
    --Darkgrayishblue: hsl(219, 9%, 45%);
    --Grayishblue: hsl(220, 14%, 75%);
    --Lightgrayishblue: hsl(223, 64%, 98%);
    --White: hsl(0, 0%, 100%);
    // (with 75% opacity for lightbox background)
    --Black: hsla(0, 0%, 0%);
}

.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
    padding: 0 6%;
    z-index: 7;
    width: 100%;
    gap: 6.4vw;
    background-color: var(--White);

    .logo {
        background-image: url('../../../assets/images/logo.svg');
        background-repeat: no-repeat;
        background-size: contain;
        height: 20px;
        margin-bottom: 4px;
        flex-grow: 1;
        font-size: 32px;
        margin-left: -2.13vw;
        color: var(--Verydarkblue);
    }

    .carticon__container {
        position: relative;
        height: 20px;
        width: 20px;
        flex-grow: 0;
        background-image: url('../../../assets/images/icon-cart.svg');
        background-repeat: no-repeat;
        background-size: contain;
        cursor: pointer;


        span {
            position: absolute;
            height: 13px;
            width: 20px;
            font-size: 10px;
            font-weight: 700;
            color: var(--White);
            background-color: var(--Orange);
            display: grid;
            place-items: center;
            border-radius: 8px;
            top: -7px;
            left: 8px;
        }
    }

    .profile {
        flex-grow: 0;
        height: 24px;
        width: 24px;
        margin-bottom: 5px;
        overflow: hidden;
        border-radius: 50%;
    }
}

.nav__toggle {
    cursor: pointer;
    display: block;
    background-image: url("../../../assets/images/icon-menu.svg");
    background-size: contain;
    background-repeat: no-repeat;
    height: 16px;
    width: 15px;
    z-index: 1;
    transition: all .4s;
}

.nav__toggle--active {
    background-image: url("../../../assets/images/icon-close.svg");
    background-size: contain;
    background-repeat: no-repeat;
    background-color: var(--Lightgrayishblue);
    height: 15px;
    width: 14px;
    z-index: 10;
}

.nav__ul {
    position: fixed;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    row-gap: 2rem;
    height: 100vh;
    padding-top: 96px;
    padding-left: 6.4vw;
    width: 68vw;
    top: 0;
    left: -100vw;
    z-index: 6;
    background-color: var(--White);
    font-size: 1.1rem;
    font-weight: 500;
    transition: all .4s;

    .nav__li {
        color: var(--Verydarkblue);
        position: relative;
        font-weight: 700;

        &.active {
            color: var(--Orange);
        }

        &::before {
            content: "";
            position: absolute;
            right: 0;
            top: 0;
            width: 5px;
            height: 0;
            background-color: var(--Orange);
            transition: height 0.3s ease;
            z-index: -1;
        }

        &:hover::before {
            height: 100%;
            background-color: var(--Grayishblue);
        }

        &.active::before {
            height: 100%;
        }
    }
}

.nav__ul--active {
    z-index: 9;
    left: 0;
}

/* modal */

.modal__active {
    position: fixed;
    height: 100vh;
    width: 100%;
    top: 0;
    left: 0;
    background-color: var(--Black);
    opacity: 0.75;
    z-index: 5;
    display: block;
}


/* Cart */

.cart {
    display: none;
    position: absolute;
    z-index: 4;
    top: 68px;
    left: 50%;
    transform: translateX(-50%);
    animation: hide .3s ease-in;
}

.cart__active {
    animation: show .3s alternate ease-in;
    display: block;
}

@keyframes hide {

    0% {
        left: 50%;
        display: block;
    }

    100% {
        left: 110vw;
    }
}

@keyframes show {

    0% {
        left: 110vw;
    }

    100% {
        left: 50%;
        display: block;
    }
}

/* nav Desk */

@media screen and (min-width: 760px) {

    .nav {
        position: static;
        display: flex;
        justify-content: space-between;
        padding: 0;
        height: 112px;
        border-bottom: 1px solid var(--Lightgrayishblue);
        gap: 3.96%;

        .logo {
            margin-left: 0;
            flex-grow: 0;
            flex-basis: 132px;
        }

        .profile {
            height: 54px;
            width: 54px;

            &:hover {
                border: 3px solid var(--Orange);
                border-radius: 50%;
                cursor: pointer;
            }
        }



        .nav__toggle {
            display: none;
        }
    }


    .nav__ul {
        position: static;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: start;
        flex-grow: 1;
        gap: 6%;
        height: 100%;
        padding: 0;
        right: auto;
        top: auto;
        width: auto;
        z-index: 0;
    }

    .nav__li {
        height: 100%;
        display: flex;
        align-items: center;

        &::before {
            display: none;
        }

        &::after {
            content: "";
            position: absolute;
            bottom: 0;
            left: 0;
            width: 0;
            height: 3px;
            transition: all 0.3s ease;
        }

        &:hover::after {
            width: 100%;
            background-color: var(--Orange);
        }

        &.active::after {
            width: 100%;
            background-color: var(--Orange);
        }

        .nav__a {
            position: relative;
            z-index: 1;
            padding: 5px 0;
            background-color: transparent;
            color: var(--Darkgrayishblue);
            font-weight: 400;
            cursor: pointer;
        }

        .nav__a:hover{
            color: var(--Verydarkblue);
        }
    }

    .cart {
        position: absolute;
        transform: translateX(0);
        top: 90px;
        left: 57vw;
        animation: none;
        animation: fadeOutBottom .3s ease-in;
    }
    
    .cart__active {
        animation: fadeInBottom .3s alternate ease-in;
        display: block;
    }

    

    .modal {
        display: none;
    }
}