<nav class="nav">

  <button class="nav__toggle" (click)="toggleNav()" [ngClass]="{'nav__toggle--active': isNavActive}"></button>

  <div class="logo">Alpha Follow</div>

  <ul class="nav__ul" [ngClass]="{'nav__ul--active': isNavActive}">

    <li routerLinkActive="active" [routerLink]="'/inicio'" [routerLinkActiveOptions]="{ exact: true }" class="nav__li" (click)="closeNav()"><a class="nav__a">Inicio</a>
    </li>
    <li routerLinkActive="active" [routerLink]="'/main'" class="nav__li" (click)="closeNav()"><a class="nav__a">Colección</a>
    </li>
    <!-- <li routerLinkActive="active" class="nav__li" (click)="closeNav()"><a class="nav__a">Men</a>
    </li>
    <li routerLinkActive="active" class="nav__li" (click)="closeNav()"><a class="nav__a">Women</a>
    </li> -->
    <li routerLinkActive="active" [routerLink]="'/about-us'" class="nav__li" (click)="closeNav()"><a class="nav__a">Quiénes somos</a>
    </li>
    <li routerLinkActive="active" [routerLink]="'/contact'" class="nav__li" (click)="closeNav()"><a class="nav__a">Contacto</a>
    </li>
  </ul>

  <div class="carticon__container" (click)="cartToggle()">
    <span class="cart__quantity"> {{cartSpan}} </span>
  </div>

  <img class="profile" src="../../../assets/images/user_icon.svg" alt="profile">

  <div class="auth-container">
    <div class="auth-option first-option"> </div>
    <div class="auth-option" [routerLink]="'/login'">Log In</div>
    <div class="auth-option" [routerLink]="'/register'">Sign In</div>
    <div class="auth-option">Perfil</div>
    <div class="auth-option">Log Out</div>
  </div>

</nav>
<app-cart class="cart" [ngClass]="{'cart__active': isCartActive}"></app-cart>




<div class="modal" (click)="closeNav()" [ngClass]="{'modal__active': isNavActive}"></div>