<nav class="nav">

  <button class="nav__toggle" (click)="toggleNav()" [ngClass]="{'nav__toggle--active': isNavActive}"></button>

  <div class="logo">Alpha Follow</div>

  <ul class="nav__ul" [ngClass]="{'nav__ul--active': isNavActive}">

    <li routerLinkActive="active" [routerLink]="'/init'" [routerLinkActiveOptions]="{ exact: true }" class="nav__li" (click)="closeNav()"><a class="nav__a">Inicio</a>
    </li>
    <li routerLinkActive="active" [routerLink]="'/main'" class="nav__li" (click)="closeNav()"><a class="nav__a">Colección</a>
    </li>
   
    <li routerLinkActive="active" [routerLink]="'/about-us'" class="nav__li" (click)="closeNav()"><a class="nav__a">Quiénes somos</a>
    </li>
    <li routerLinkActive="active" [routerLink]="'/contact'" class="nav__li" (click)="closeNav()"><a class="nav__a">Contacto</a>
    </li>
  </ul>

  <div class="carticon__container" (click)="cartToggle()">
    <span class="cart__quantity"> {{cartSpan}} </span>
  </div>

  @if (_auth.isLogged()) {
    <img class="profile" src="../../../assets/images/user_icon_blue.svg" alt="profile" style="border: 2px solid var(--Orange);">
  } @else {
    <img class="profile" src="../../../assets/images/user_icon.svg" alt="profile">
  }

  <div class="auth-container">
    <div class="auth-option first-option"> </div>
    <div *ngIf="!_auth.isLogged()" class="auth-option" [routerLink]="'/auth/login'">Log In</div>
    <div *ngIf="!_auth.isLogged()" class="auth-option" [routerLink]="'/auth/register'">Sign In</div>
    <div *ngIf="_auth.isLogged()" class="auth-option" [routerLink]="'/profile'">Perfil</div>
    <div *ngIf="_auth.isLogged()" class="auth-option" (click)="logout()">Logout</div>
  </div>

  <app-cart class="cart" [ngClass]="{'cart__active': _storeService.state}"></app-cart>
</nav>



<div class="modal" (click)="closeNav()" [ngClass]="{'modal__active': isNavActive}"></div>