<div class="container">
    <app-carousel class="app-carousel" [images]="productById.image"></app-carousel>
    <div class="gallery">
        <div class="big__contain">
            <img src="" alt="" class="big__img">
            <button class="arrow__left"></button>
            <button class="arrow__right"></button>

        </div>
        <div class="tiny__contain">
            <img src="" alt="" class="tiny__img">
            <img src="" alt="" class="tiny__img">
            <img src="" alt="" class="tiny__img">
            <img src="" alt="" class="tiny__img">
        </div>
    </div>

    <div class="content">
        <div class="info">
            <span class="company__name"> {{productById.company}} </span>
            <h2 class="product__name"> {{productById.name}}</h2>
            <p class="description">{{productById.description}}</p>
        </div>

        <div class="info__price">
            <div class="price">
                <div class="final__price">${{ (productById.price * productById.discount / 100).toFixed(2)}}</div>
                <div class="discount">{{productById.discount}}%</div>
            </div>
            <span class="original__price">${{productById.price.toFixed(2)}}</span>
        </div>

        <div class="accions">
            <div class="counter">
                <button class="minus" (click)="minus()"> </button>
                <span class="amount"> {{ productAmount }} </span>
                <button class="plus" (click)="plus()"></button>
            </div>
            <button (click)="addToCart()" class="btn__add">
                <div class="cart-img-add"></div>
                <span>Add to cart</span>
            </button>
        </div>
    </div>
    <footer class="attribution">
        Challenge by <a href="https://www.frontendmentor.io?ref=challenge" target="_blank">Frontend Mentor</a>. 
        Coded by <a href="#">Andrés Forero</a>.
      </footer>
</div>