<div class="main-container">
    <div class="search-container">
            <span class="search-icon"></span>
            <input type="text" placeholder="Search..." [formControl]="searchControl">
    </div>

    
    <div class="brands-container">
        <picture (click)="brandSelect('adidas')" [class.brand-active]="brandSelected === 'adidas'">
            <img src="../../../assets/images/brands/Webp.net-resizeimage-adidas.png" alt="adidas image">
        </picture>
        <picture (click)="brandSelect('jordan')" [class.brand-active]="brandSelected === 'jordan'">
            <img src="../../../assets/images/brands/Webp.net-resizeimage-jordan.png" alt="jordan image">
        </picture>
        <picture (click)="brandSelect('nike')" [class.brand-active]="brandSelected === 'nike'">
            <img src="../../../assets/images/brands/Webp.net-resizeimage-nike.png" alt="nike image">
        </picture>
        <picture (click)="brandSelect('under armour')" [class.brand-active]="brandSelected === 'under armour'">
            <img src="../../../assets/images/brands/Webp.net-resizeimage-unde-armour.png" alt="under armour image">
        </picture>
        <picture (click)="brandSelect('puma')" [class.brand-active]="brandSelected === 'puma'">
            <img src="../../../assets/images/brands/puma.png" alt="puma image">
        </picture>
    </div>

    <div class="filter-section ">
        @if (!brandSelected) {
            <h2>{{'Popular' | titlecase}}</h2>
        } @else {
            <h2>{{brandSelected | titlecase}}</h2>
        }
            <button [class.active]="filterActive" (click)="filterActiver()">
                <img src="../../../assets/images/mezclador-horizontal-ajustes-30.png" alt="fiter image">
            </button>
    </div>


    <app-product-filter-form class="filter-form-container" [class.active]="filterActive"></app-product-filter-form>


    <div class="card-container">
        @for(productFather of showProducts; track productFather.id){
            @defer (on viewport) {
                <app-product-card class="card" [product]='productFather'></app-product-card>
            }
            @placeholder {
                <span>cargando...</span>
            }
        }
    </div>
</div>