.carousel__container {
    height: 80vw;
    position: relative;

    img {
        position: absolute;
        height: 100%;
        width: 100%;
        -o-object-position: top center;
        object-position: top center;
    }

    button {
        position: absolute;
        z-index: 2;
        border-radius: 50%;
        height: 40px;
        width: 40px;
        top: 50%;
        transform: translateY(-50%);
        background-repeat: no-repeat;
        background-position: center;
        background-size: 9px;
        background-color: var(--White);
    }

    .btn__left {
        left: 16px;
        background-image: url('../../../assets/images/icon-previous.svg');
    }

    .btn__right {
        right: 16px;
        background-image: url('../../../assets/images/icon-next.svg');
        background-position: 54% 50%;
    }

}