<div class="container">
        <h1>POLÍTICAS DE GARANTÍAS</h1>
        <hr>
    
        <p>Queremos que su compra sea una gran experiencia. Por ello, le informamos sobre nuestro proceso de garantías, el cual se rige por la ley 1480 de 2011, estatuto del consumidor, y nos permite brindarle un mejor servicio.</p>
        <hr>
    
        <h2>Recomendaciones de Uso, Cuidado y Garantía</h2>
    
        <p>Evite dejar los productos en remojo, ya que pueden desteñirse, oxidarse los herrajes o despegarse las uniones. Esto también puede afectar la suavidad y textura de los materiales.</p>
        <p>Para calzado, no utilice lavadora ni los exponga directamente al sol.</p>
        <p>Si el producto es de nubuck o gamuza, no lo lave ni lo remoje. Solo límpielo con superficies suaves y sin detergente. La garantía solo cubre pegas y costuras en estos materiales.</p>
        <hr>
    
        <h2>Condiciones de Garantía</h2>
    
        <p>Conserve la factura de compra, ya que es indispensable para realizar cambios o reclamos.</p>
        <p>Las garantías se aceptan hasta 45 días calendario después de la compra, siempre que el problema sea por fallos de calidad y no por mal uso.</p>
        <hr>
    
        <h2>Proceso de Garantía</h2>
    
        <p>Los productos recibidos por garantía serán evaluados por nuestro equipo de control de calidad, quienes determinarán si el artículo debe ser reparado o cambiado. El personal de tienda no está autorizado a dar respuestas sobre garantías.</p>
        <p>El plazo para resolver una garantía es de 15 días hábiles. En caso de ser necesario, el producto podrá ser reparado por fallas en pegas o costuras. Comuníquese con nosotros antes de ir por el producto.</p>
        <p>Si después de 25 días hábiles el producto no está listo, podrá reclamar uno nuevo, uno de igual valor o la devolución de su dinero.</p>
        <hr>
    
        <h2>Nota</h2>
    
        <p>Todo producto para cambio o garantía debe estar limpio y seco, de lo contrario será devuelto.</p>
        <p>Si compró a crédito, el trámite de garantía no lo exime de los pagos.</p>
        <p>Nos comprometemos a responder por la calidad del producto, siempre que no sea por mal uso o accidente y esté dentro del plazo de 45 días. Agradecemos su comprensión y estamos disponibles para cualquier duda. Esperamos su próxima visita.</p>
</div>