<div class="footer-container">
    <div class="logo-container">
        <img src="../../../assets/images/footer/favicon.png" alt="logo-img">
        <span>Alpha Follow</span>
    </div>
    <div class="customers-attention">
        <h2>ATENCIÓN AL CLIENTE</h2>

        <div>
            <h3>CORREO DE CONTACTO:</h3>
            <span><a href="mailto:ANFFOREROVE@GMAIL.COM">ANFFOREROVE&#64;GMAIL.COM</a></span>
        </div>
        <div>
            <h3>PUNTOS DE VENTA:</h3>
            <span>
                SAN JUAN DE URABÁ: <br>
                PUEBLO CHINO <br>
            </span>
            <span>
                BELLO: <br>
                BARRIO LA PRIMAVERA - SECTOR TRAPICHE
            </span>
        </div>
        <div>
            <h3>CEL Y WPP</h3>
            <span>
             <a href="https://wa.me/573207640579">(+57) 320 764 0579</a>
            </span>
        </div>
    </div>
    <div class="pqrs">
        <h2>PQRS - AYUDA</h2>
        <div class="pqrs__options">
            <span routerLink="/terms">TÉRMINOS Y CONDICIONES</span>
            <span routerLink="/warranty">POLÍTICAS DE GARANTÍAS</span>
            <span routerLink="/refund">POLÍTICAS DE CAMBIO Y DEVOLUCIONES</span>
            <span routerLink="/contact">CONTÁCTANOS</span>
        </div>
    </div>
</div>
<span class="copyright">©COPYRIGHT ANDRES FORERO ALL RIGHTS RESERVED 2024.</span>