<div class="form-container">
  <div class="company-filters">
    <span>Companys:</span>
    @for(comp of showCompanys; track comp.company){
    <div class="companys">
      <input type="checkbox" id="{{comp.company}}" name="{{comp.company}}" value="{{comp.company}}"
        [checked]="comp.checked" (change)="companyChecked(comp.company)">
      <label for="{{comp.company}}">{{comp.company}}</label>
    </div>
    }
  </div>

  <form class="form-filter-react" [formGroup]="filterForm">

    <!-- <div >
        <label for="company">Company</label>
        <input id="company" formControlName="company" placeholder="Enter company name">
      </div> -->


    <div class="min-price">
      <label for="minPrice">Min Price</label>
      <input id="minPrice" type="number" formControlName="minPrice">
    </div>

    <div class="max-price">
      <label for="maxPrice">Max Price</label>
      <input id="maxPrice" type="number" formControlName="maxPrice">
    </div>

    <div class="search">
      <label for="searchQuery">Search</label>
      <input id="searchQuery" formControlName="searchQuery" placeholder="Search products">
    </div>
  </form>
</div>

@if (products.length > 0){
<div>
  <h3>Products</h3>
  @for(product of products; track product.name){

  <div>
    <h2>{{ product.attributes.name }}</h2>
    <p>{{ product.attributes.description }}</p>
    <img [src]="product.attributes.image.data[0].attributes.url" alt="{{ product.attributes.name }}">
    <p>{{ product.attributes.price }}</p>
  </div>
  }
</div>
}